*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100%;
    height: 100vh;
    display: flex;
    background-color: rgb(117, 117, 117);
    /* overflow: hidden; */
    flex-wrap: wrap;

}

div.box {
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.card-title {
    width: 300px;
    height: 300px;
    background-color: rgb(48, 48, 48);
    border-radius: 15px;
    box-shadow: 3px 4px 14px -2px rgb(88, 88, 88);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

div.box h2 {
    font-size: 60px;
    color:#fffffff5;
}

div.card-restart {
    display: none;
    align-items: center;
    margin: 0 auto;
    order: 2;
    justify-content: flex-end;
    width:15%
}

input#restart {
    width: 150px;
    height:50px ;
    font-size: 25px;
    box-shadow: 3px 4px 14px -2px rgb(88, 88, 88);;
    border: 0;
    border-bottom:5px solid rgb(71, 71, 71);
    border-radius: 15px;
    outline: none;
    background-color: rgb(48, 48, 48);
    color: #fffffff5;
    cursor: pointer;

}

input#easy,
input#medium,
input#hard {
    width: 200px;
    height:60px ;
    font-size: 25px;
    border:2px solid #ccc;
    box-shadow: 3px 4px 14px -2px #000000;
    margin-left: 30px;
    border-radius: 20px;
    outline: none;
    background-color: rgb(48, 48, 48);
    color: #fffffff5;
    border: 0;
    cursor: pointer;
}

#game-easy{
    order: 1;
    width: 100vw;
    max-width: 1200px;
    margin:50px auto;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(100% / 4);
    height: 200px;
    margin: 2px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

#game-medium{
    width: 100vw;
    height: 100vh;
    max-width: 1400px;
    margin:20px auto;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card-medium  {
    width: calc(100% / 6);
    height: calc(95% / 4.5);
    margin: 2px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

#game-hard {
    width: 100vw;
    height: 100vh;
    max-width: 1600px;
    margin: 15px auto;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card-hard  {
    width: calc(100% / 7);
    height: calc(94% / 5.5);
    margin: 2px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {transform: scale(0.97); transition: transform .2s;}
.memory-card-medium:active {transform: scale(0.97); transition: transform .2s;}
.memory-card-hard:active {transform: scale(0.97); transition: transform .2s;}

.memory-card.flip {transform: rotateY(180deg);}
.memory-card-medium.flip {transform: rotateY(180deg);}
.memory-card-hard.flip {transform: rotateY(180deg);}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 2px;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg)
}

.back-face {
    background-color: rgb(48, 48, 48);
}
.back-face h2 {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 100px;
    color:#fffffff5;
}

<<<<<<< HEAD
@media  screen and (max-width:1260px) {
    
=======
@media  screen and (max-width:1400px) {
>>>>>>> 6a030f38a626728b6f68927e731f46fe87831d08
    div.box {
        width: 100%;
        margin:0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }

    #game-easy {
        margin: 45px auto 30px auto;
    }

    .memory-card {
        width: calc(100% / 5);
        height: 150px;
    }
}