*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #97D2FB; 
    --primary-color: #E1EFF6;
    --text-color: #25618c;
}

body {
    width:100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.box {
    width: 100vw;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

div.card-title {
    width: 30%;
    max-width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    border-radius: 15px;
    box-shadow: 3px 4px 14px -2px rgb(88, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.box h2 {
    font-size: 60px;;
    color: var(--text-color);
}

div.dificulty {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

input#easy,
input#medium,
input#hard {
    width: 200px;
    height:60px ;
    margin-left: 30px;
    font-size: 25px;
    border:2px solid #ccc;
    box-shadow: 3px 4px 14px -2px #000000;
    border-radius: 20px;
    outline: none;
    background-color: var(--primary-color);
    color:  var(--text-color);
    border: 0;
    cursor: pointer;
}

div.card-restart {
    width:calc(15% + 94px);
    height: 100vh;
    margin: 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    border-right: 5px solid var(--primary-color);
}

input#restart {
    width: 150px;
    height: 60px ;
    font-size: 30px;
    padding: 5px 12px;
    box-shadow: 3px 4px 14px -2px rgb(88, 88, 88);;
    border: 0;
    border-bottom:5px solid rgb(71, 71, 71);
    border-radius: 15px;
    outline: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;

}

.memory-card:active {transform: scale(0.97); transition: transform .2s;}
.memory-card-medium:active {transform: scale(0.97); transition: transform .2s;}
.memory-card-hard:active {transform: scale(0.97); transition: transform .2s;}

.memory-card.flip {transform: rotateY(180deg);}
.memory-card-medium.flip {transform: rotateY(180deg);}
.memory-card-hard.flip {transform: rotateY(180deg);}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 2px;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg)
}

.back-face {
    background-color: var(--primary-color);
}
.back-face h2 {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
    color: var(--text-color);
}

div.modal {
    display: none;
    width: 500px;
    height: 300px;
    background-color: var(--text-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 15px 2px #000000; 
    box-shadow: 3px 3px 15px 2px #000000;
}

div.box-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

div.box-modal h2, div.box-modal span {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--primary-color);
}

@media screen and (max-width:2560px) {
    #game-easy{
        width: 85%;
        max-width: 1800px;
        margin:0 auto;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        perspective: 1000px;
    }
    
    .memory-card {
        width: calc(100% / 5);
        height: 300px;
        margin: 2px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
    }
    
    #game-medium{
        width: 85%;
        max-width: 1800px;
        margin: 0 auto;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        perspective: 1000px;
    }
    
    .memory-card-medium  {
        width: calc(100% / 6);
        height: 300px;
        margin: 2px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
    }
    
    #game-hard {
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        gap:10px;
        perspective: 1000px;
    }
    
    .memory-card-hard  {
        width: calc(100% / 7);
        height: 250px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
    }
} 

@media screen and (max-width: 1920px) {
    #game-easy{
        width: 85%;
        max-width: 1200px;
        margin:0 auto;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        perspective: 1000px;
    }
    
    .memory-card {
        width: calc(100% / 5);
        height: 220px;
        margin: 2px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
    }
    
    #game-medium{
        width: 85%;
        max-width: 1200px;
        margin: 0 auto;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        perspective: 1000px;
    }
    
    .memory-card-medium  {
        width: calc(100% / 6);
        height: 180px;
        margin: 2px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
    }
    
    #game-hard {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        display: none;
        justify-content: center;
        flex-wrap: wrap;
        gap:5px;
        perspective: 1000px;
    }
    
    .memory-card-hard  {
        width: calc(100% / 7);
        height: 150px;
        position: relative;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
    }
}

@media screen and (max-width:1680px) {
    div.card-restart {
        justify-content: center;
    }

    #game-hard {
        gap: 5px;
    }
}

@media screen and (max-width:1440px) {
    .memory-card {
        width: calc(100% / 5);
        height: 200px;
    }

    .memory-card-medium  {
        width: calc(100% / 6);
        height: 200px;
    }

    #game-hard {
        gap: 10px;
    }

    .memory-card-hard {
        width: calc(100% / 6.5);
        height: 170px; 
    }

    div.card-restart {
        justify-content: center;
        margin: 0 auto;
    }

    input#restart {
        width: 150px;
        height: 60px;
        font-size: 30px;
    }

    .back-face h2 {
        font-size: 80px;
    }

}

@media screen and (max-width:1024px) {
    .memory-card {
        width: calc(100% / 4);
        height: 160px;
    }

    .memory-card-medium  {
        width: calc(100% / 6);
        height: 125px;
    }

    #game-hard {
        gap: 5px;
    }

    .memory-card-hard {
        width: calc(100% / 6);
        height: 120px; 
    }

    input#restart {
        width: 150px;
        height: 50px;
        font-size: 25px;
    }
}

@media screen and (max-width:480px) {
    body {
        flex-wrap: wrap;
    }
    div.box {
        width: 100%;
        flex-flow: column wrap;
        gap:30px
    }

    div.card-title {
        width: 200px;
        height: 200px;
    }

    div.card-title h2{
        font-size:35px;
    }

    div#dificulty {
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 25px;
    }

    input#easy,
    input#medium,
    input#hard {
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin-left: 0;
    }

    div.card-restart {
        width: 100%;
        order: 2;
        height: 20%;
        margin: 0;
        border-right: 0;
        border-top:5px solid var(--primary-color);
    }

    #game-easy {
        order: 1;
        width: 100%;
        height: 80%;
        align-items: center;
        padding: 30px 0;
    }

    .memory-card {
        width: calc(100% / 4);
        height: 100px;
    }

    #game-medium {
        width: 100%;
        gap: 2px;
    }
    
    .memory-card-medium {
        width: calc(100% / 5);
        height: 100px;
    }

    #game-hard {
        padding: 40px 0;
        width: 100%;
        height: 80%;
        align-items: center;
    }

    .memory-card-hard {
        width: calc(100% / 5.5);
        height: 80px; 
    }

    .back-face h2 {
        font-size: 50px; ;
    }
}

@media screen and (max-width:320px) {
    .memory-card {
        width: calc(100% / 4);
        height: 80px;
    }

    #game-medium {
        padding: 30px 0;
        width: 100%;
        height: 80%;
        align-items: center;
    }

    .memory-card-medium {
        width: calc(100% / 4.5);
        height: 70px;
    }

    #game-hard {
        padding:10px 0;
        align-items: center;
    }

    .memory-card-hard {
        width: calc(100% / 5.5);
        height: 60px; 
    }

    .back-face h2 {
        font-size: 50px; ;
    }
    
    input#restart{
        font-size: 20px;
        width: 130px;
        height: 50px;
    }

    .back-face h2 {
        font-size: 35px; ;
    }

}    